.notification {
  border-radius: calc(20px * var(--size-ratio));
  overflow: hidden;
  background: #FFFFFFBF;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(12px * var(--size-ratio)) calc(20px * var(--size-ratio));
  background-color: #ffffff;
}

.nameWrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: calc(30px * var(--size-ratio));
  height: calc(30px * var(--size-ratio));
  margin-right: calc(16px * var(--size-ratio));
}

.subtext {
  font-size: calc(15px * var(--size-ratio));
  line-height: calc(17.25px * var(--size-ratio));
  color: #00000040;
}

.content {
  display: flex;
  flex-direction: column;
  padding: calc(20px * var(--size-ratio)) calc(25px * var(--size-ratio)) calc(25px * var(--size-ratio));
}
