@import "../../../styles/constants";

.content {
  display: flex;
  flex-direction: column;
  padding: calc(120px * var(--size-ratio)) calc(20px * var(--size-ratio)) 0;
}

.contentInner {
  padding: 0 calc(20px * var(--size-ratio));
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.qrWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(30px * var(--size-ratio));
}

.qr {
  width: calc(236px * var(--size-ratio));
  height: calc(236px * var(--size-ratio));
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: calc(64px * var(--size-ratio));
}

.panel {
  margin-top: auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: calc(40px * var(--size-ratio));
  border-bottom: none;
}

.list {
  margin-top: calc(20px * var(--size-ratio));
}

.image1 {
  position: absolute;
  width: calc(410px * var(--size-ratio));
  height: calc(267px * var(--size-ratio));
  top: 0;
  right: 0;
}

.image2 {
  position: absolute;
  width: 100%;
  height: calc(737px * var(--size-ratio));
  bottom: 0;
  left: 0;
}

:global(.#{$animation-enter}) {
  .image1, .image2 {
    opacity: 0;
  }

  .image4 {
    opacity: 0;
    transform: translateX(100%);
  }

  .image3 {
    opacity: 0;
    transform: translateX(-100%);
  }

  .contentInner {
    opacity: 0;
    transform: translateX(100%);
  }

  .panel {
    opacity: 0;
    transform: translateY(100%);
  }
}

:global(.#{$animation-enter-active}) {
  .image1, .image2 {
    opacity: 1;
    transition: opacity $animation-duration;
  }

  .image4 {
    opacity: 1;
    transform: translateX(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .image3 {
    opacity: 1;
    transform: translateX(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .contentInner {
    opacity: 1;
    transform: translateX(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .panel {
    opacity: 1;
    transform: translateY(0);
    transition: opacity $animation-duration, transform calc($animation-duration - $animation-delay) $animation-delay;
  }
}

:global(.#{$animation-exit}) {
  .image1, .image2 {
    opacity: 1;
  }

  .image4 {
    opacity: 1;
    transform: translateX(0);
  }

  .image3 {
    opacity: 1;
    transform: translateX(0);
  }

  .contentInner {
    opacity: 1;
    transform: translateX(0);
  }

  .panel {
    opacity: 1;
    transform: translateY(0);
  }
}

:global(.#{$animation-exit-active}) {
  .image1, .image2 {
    opacity: 0;
    transition: opacity $animation-duration;
  }

  .image4 {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .image3 {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .contentInner {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .panel {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}
