@import "../../../styles/constants";

.image1 {
  margin-top: calc(53px * var(--size-ratio));
  margin-left: calc(5.69px * var(--size-ratio));
  width: calc(425px * var(--size-ratio));
  height: calc(537px * var(--size-ratio));
}

.image2 {
  margin-top: calc(40px * var(--size-ratio));
  margin-left: calc(18px * var(--size-ratio));
  width: calc(412px * var(--size-ratio));
  height: calc(552px * var(--size-ratio));
}

:global(.#{$animation-enter}) {
  .image1 {
    opacity: 0;
    transform: scale(0.8);
  }

  .image2 {
    opacity: 0;
    transform: scale(1.2);
  }
}

:global(.#{$animation-enter-active}) {
  .image1, .image2 {
    opacity: 1;
    transform: scale(1);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}

:global(.#{$animation-exit}) {
  .image1, .image2 {
    opacity: 1;
    transform: scale(1);
  }
}

:global(.#{$animation-exit-active}) {
  .image1 {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .image2 {
    opacity: 0;
    transform: scale(0.8) translateX(-100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}