.item {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  transform: scale(0);
  pointer-events: none;
  z-index: 10;
  animation: ripple 1s linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}