.text {
  margin-top: calc(20px * var(--size-ratio));
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(70px * var(--size-ratio));
}

.button {
  & + & {
    margin-top: calc(21px * var(--size-ratio));
  }
}

.icon {
  width: calc(30px * var(--size-ratio));
  height: calc(30px * var(--size-ratio));
  margin-top: calc(4px * var(--size-ratio));
  margin-left: calc(10px * var(--size-ratio));
  color: #0087CD;
}