@import "../../styles/constants";

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(190px * var(--size-ratio)) 0 calc(30px * var(--size-ratio));
}

.playing {
  user-select: none;
}

.failPanelWrapper {
  width: 100%;
  margin-top: calc(40px * var(--size-ratio));
  padding: 0 calc(15px * var(--size-ratio));
}

.timerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.greyscaleTarget {
  transition: filter 0.2s;
}

.greyscale {
  filter: grayscale(1);
}

.partialGreyscale {
  filter: grayscale(0.4);
}

.winInnerContent, .defaultInnerContent {
  transition: opacity $animation-duration;
}

.mute {
  opacity: 0.5;
}

.image1 {
  position: absolute;
  width: calc(410px * var(--size-ratio));
  height: calc(267px * var(--size-ratio));
  top: 0;
  right: 0;
}

.image2 {
  position: absolute;
  width: calc(383px * var(--size-ratio));
  height: calc(514px * var(--size-ratio));
  top: 0;
  right: 0;
}

.image3 {
  position: absolute;
  width: calc(430px * var(--size-ratio));
  height: calc(557px * var(--size-ratio));
  top: 0;
  left: 0;
}

.image4 {
  position: absolute;
  width: 100%;
  height: calc(277px * var(--size-ratio));
  bottom: 0;
  left: 0;
}

:global(.#{$animation-enter}) {
  .image1, .image2, .image3, .image4 {
    opacity: 0;
  }

  .content {
    opacity: 0;
    transform: translateX(100%);
  }

  &.overlayTimer {
    opacity: 0;
    transform: scale(1.2);
  }

  &.failPanelWrapper {
    opacity: 0;
    transform: scale(1.2);
  }
}

:global(.#{$animation-enter-active}) {
  .image1, .image2, .image3, .image4 {
    opacity: 1;
    transition: opacity $animation-duration;
  }

  .content {
    opacity: 1;
    transform: translateX(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  &.overlayTimer {
    opacity: 1;
    transform: scale(1);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  &.failPanelWrapper {
    opacity: 1;
    transform: scale(1);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}

:global(.#{$animation-exit}) {
  .image1, .image2, .image3, .image4 {
    opacity: 1;
  }

  .content {
    opacity: 1;
    transform: translateX(0);
  }

  &.overlayTimer {
    opacity: 1;
    transform: scale(1);
  }

  &.failPanelWrapper {
    opacity: 1;
    transform: scale(1);
  }
}

:global(.#{$animation-exit-active}) {
  .image1, .image2, .image3, .image4 {
    opacity: 0;
    transition: opacity $animation-duration;
  }

  .content {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  &.overlayTimer {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  &.failPanelWrapper {
    opacity: 0;
    transform: scale(1.1);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}