.wrapper {
  height: 100%;
  overflow: auto;
}

.logo {
  display: block;
  width: calc(145px * var(--size-ratio));
  height: calc(39px * var(--size-ratio));
  margin: calc(50px * var(--size-ratio)) auto 0;
}
