@import "../../../styles/constants";

.image1 {
  margin-top: calc(54px * var(--size-ratio));
  margin-left: calc(47px * var(--size-ratio));
  width: calc(352.39px * var(--size-ratio));
  height: calc(435px * var(--size-ratio));
}

.image2 {
  margin-top: calc(32px * var(--size-ratio));
  width: calc(428px * var(--size-ratio));
  height: calc(417.14px * var(--size-ratio));
}

:global(.#{$animation-enter}) {
  .image1 {
    opacity: 0;
    transform: scale(0.8);
  }

  .image2 {
    opacity: 0;
    transform: scale(1.2);
  }
}

:global(.#{$animation-enter-active}) {
  .image1, .image2 {
    opacity: 1;
    transform: scale(1);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}

:global(.#{$animation-exit}) {
  .image1, .image2 {
    opacity: 1;
    transform: scale(1);
  }
}

:global(.#{$animation-exit-active}) {
  .image1, .image2 {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}