.image1 {
  margin-top: calc(54px * var(--size-ratio));
  width: calc(352.39px * var(--size-ratio));
  height: calc(435px * var(--size-ratio));
}

.image2 {
  margin-top: calc(32px * var(--size-ratio));
  width: calc(428px * var(--size-ratio));
  height: calc(417.14px * var(--size-ratio));
}
