.title {
  font-family: 'SB Sans Display', sans-serif;
  color: #333F48;
  font-weight: 700;
  margin: 0;
  font-size: calc(40px * var(--size-ratio));
  line-height: calc(48px * var(--size-ratio));
  white-space: pre-wrap;
}