@import "../../../styles/constants";

.content {
  padding: calc(148px * var(--size-ratio)) calc(15px * var(--size-ratio)) calc(40px * var(--size-ratio));
}

.panel {
  position: relative;
  z-index: 1;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin-top: calc(35px * var(--size-ratio));
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: calc(70px * var(--size-ratio));
  z-index: 3;
}

.image1 {
  position: absolute;
  width: calc(410px * var(--size-ratio));
  height: calc(267px * var(--size-ratio));
  top: 0;
  right: 0;
}

.image2 {
  position: absolute;
  width: calc(355px * var(--size-ratio));
  height: calc(427px * var(--size-ratio));
  top: 0;
  left: 0;
}

.image3 {
  position: absolute;
  width: calc(430px * var(--size-ratio));
  height: calc(313px * var(--size-ratio));
  bottom: 0;
  left: 0;
}

.image4 {
  position: absolute;
  width: 100%;
  height: calc(594px * var(--size-ratio));
  bottom: calc(22.74px * var(--size-ratio));
  left: 0;
  z-index: 2;
}

.image5 {
  position: absolute;
  width: 100%;
  height: calc(842px * var(--size-ratio));
  bottom: 0;
  left: 0;
  z-index: 2;
}

:global(.#{$animation-enter}) {
  .image1, .image2, .image3 {
    opacity: 0;
  }

  .image4, .image5 {
    opacity: 0;
    transform: translateX(-100%);
  }

  .panel, .buttons {
    opacity: 0;
    transform: translateX(100%);
  }
}

:global(.#{$animation-enter-active}) {
  .image1, .image2, .image3 {
    opacity: 1;
    transition: opacity $animation-duration;
  }

  .image4, .image5, .panel, .buttons {
    opacity: 1;
    transform: translateX(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}

:global(.#{$animation-exit}) {
  .image1, .image2, .image3 {
    opacity: 1;
  }

  .image4, .image5, .panel, .buttons {
    opacity: 1;
    transform: translateX(0);
  }
}

:global(.#{$animation-exit-active}) {
  .image1, .image2, .image3 {
    opacity: 0;
    transition: opacity $animation-duration;
  }

  .image4, .image5, .panel, .buttons {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}
