@import '../../styles/constants.scss';

$offset: 20px;
$min-mockup-width: $target-width + (2 * $offset);

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  @media (min-width: $min-mockup-width) {
    padding: $offset;
  }
}

.content {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  height: 100%;
  max-width: $target-width;
  max-height: $target-height;

  @media (min-width: $min-mockup-width) {
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: content-box;
  }
}
