@import '../../styles/constants.scss';

.template {
  position: relative;
  z-index: 0;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.contentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
  max-width: calc($target-width * var(--size-ratio));
}