.image1 {
  margin-top: calc(97px * var(--size-ratio));
  width: calc(328px * var(--size-ratio));
  height: calc(305px * var(--size-ratio));
}

.winImages {
  position: relative;
  display: flex;
  margin-top: calc(105px * var(--size-ratio));
}

.image2 {
  width: calc(328px * var(--size-ratio));
  height: calc(296.69px * var(--size-ratio));
}

.image3 {
  position: absolute;
  bottom: 0;
  right: calc(10px * var(--size-ratio));
  width: calc(74px * var(--size-ratio));
  height: calc(61px * var(--size-ratio));
}