@import "../../../styles/constants";

.image1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(430px * var(--size-ratio));
  height: calc(788px * var(--size-ratio));
  transition: opacity $animation-duration;
}

.winWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: calc(43px * var(--size-ratio));
  padding: 0 calc(20px * var(--size-ratio));
}

.notification {
  width: calc(390px * var(--size-ratio));
  max-width: 100%;
}

.image2Wrapper {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: opacity $animation-duration;
}

.image2 {
  width: calc(430px * var(--size-ratio));
  height: calc(649px * var(--size-ratio));
}

.image3 {
  position: absolute;
  right: calc(144.58px * var(--size-ratio));
  bottom: calc(265.17px * var(--size-ratio));
  width: calc(138px * var(--size-ratio));
  height: calc(100px * var(--size-ratio));
}

.image4 {
  position: absolute;
  right: calc(164.4px * var(--size-ratio));
  bottom: calc(272.42px * var(--size-ratio));
  width: calc(111px * var(--size-ratio));
  height: calc(42px * var(--size-ratio));
}

:global(.#{$animation-enter}) {
  .image1 {
    opacity: 0;
    transform: scale(0.8) translateX(100%);
  }

  .image2Wrapper {
    opacity: 0;
    transform: scale(1.2) translateX(100%);
  }

  .notification {
    opacity: 0;
    transform: translateY(-100%);
  }
}

:global(.#{$animation-enter-active}) {
  .image1, .image2Wrapper {
    opacity: 1;
    transform: scale(1) translateX(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .notification {
    opacity: 1;
    transform: translateY(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}

:global(.#{$animation-exit}) {
  .image1, .image2Wrapper {
    opacity: 1;
    transform: scale(1) translateX(0);
  }

  .notification {
    opacity: 1;
    transform: translateY(0);
  }
}

:global(.#{$animation-exit-active}) {
  .image1 {
    opacity: 0;
    transform: scale(0.8) translateX(100%);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .image2Wrapper {
    opacity: 0;
    transform: scale(0.8) translateX(200%);
    transition: opacity $animation-duration, transform $animation-duration;
  }

  .notification {
    opacity: 0;
    transform: translateY(0);
    transition: opacity $animation-duration, transform $animation-duration;
  }
}