.image1 {
  margin-top: calc(11px * var(--size-ratio));
  width: calc(376px * var(--size-ratio));
  height: calc(345px * var(--size-ratio));
}

.winWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: calc(43px * var(--size-ratio));
  padding: 0 calc(20px * var(--size-ratio));
}

.notification {
  width: calc(390px * var(--size-ratio));
  max-width: 100%;
}

.image2 {
  margin-top: calc(38px * var(--size-ratio));
  width: calc(266px * var(--size-ratio));
  height: calc(288px * var(--size-ratio));
}
